<div class="nested-fields">
	<div class="field">
		<%= form.label :phone, class: 'label' %>
		<%= form.text_field :phone, class: 'input' %>
		<%= link_to_remove_association('remove', form, class: 'button is-danger') %>
	</div>
</div>