<%= content_for :body do %>

	<h1>Editing Person</h1>

	<%= render 'form', person: @person %>

	<%= link_to 'Show', @person, class: "waves-effect waves-light btn" %> |
	<%= link_to 'Back', people_path, class: "waves-effect waves-light btn" %>

<% end %>