<%= content_for :body do %>

	<h1>Editing Order</h1>

	<%= render 'form', order: @order %>

	<%= link_to 'Show', @order, class: "waves-effect waves-light btn" %> |
	<%= link_to 'Back', orders_path, class: "waves-effect waves-light btn" %>

<% end %>