<%= content_for :body do %>

  <p id="notice"><%= notice %></p>

  <% @products.each_slice(4) do |products| %>
    <div class="columns">
      <% products.each do |product| %>
        <div class="column is-one-quarter">
          <figure class="image is-128x128">
            <img src="http://bulma.io/images/placeholders/128x128.png">
          </figure>
          <h3><%= product.name %></h3>
          <p>R$ <%= product.price %></p>
          <a href="#", class="button is-success">Add to cart</a>
        </div>
      <% end %>
    </div>
  <% end; nil %>

<% end %>